@using System.Configuration
@model UpVotes.Models.OverviewNewsViewModel
@{
    ViewBag.Title = @Model.Title + " News";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    @Styles.Render("~/Content/detail")
    @Scripts.Render("~/bundles/AllListing")    
</head>

<nav aria-label="breadcrumb">
    <div class="container">
        <div class="row">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@ConfigurationManager.AppSettings["WebBaseURL"].ToString()">Home</a></li>
                @{
                    if (ViewBag.IsService)
                    {
                        <li class="breadcrumb-item title-capitalize active" aria-current="page"><a target="_blank" href="/profile/@System.Web.HttpUtility.UrlEncode(Model.CompanySoftwareName.Replace(" ", "-").ToLower())">@Model.Title</a></li>
                    }
                    else
                    {
                        <li class="breadcrumb-item title-capitalize active" aria-current="page"><a target="_blank" href="/software/@System.Web.HttpUtility.UrlEncode(Model.CompanySoftwareName.Replace(" ", "-").ToLower())">@Model.Title</a></li>
                    }

                }
                <li class="breadcrumb-item title-capitalize active" aria-current="page">News</li>
            </ol>
        </div>
    </div>
</nav>
<div class="detail-wrap">
    <div class="container-fluid">
        <div class="row">
            <!-- Scrollspy menu -->
            <div class="container content-wrap">
                <div class="row">
                    <div class="col-xl-12">
                        <section id="navNews">
                            <div class="content">
                                <div class="title-wrap">
                                    <h1 class="title-small title-capitalize">@ViewBag.Title</h1>
                                    <button class="btn btn-sm btn-add f-right" id="btnListAddNews">Add News</button>
                                </div>
                                <div class="row news-wrap">
                                    <div class="col-lg-12">
                                        @foreach (var newsList in Model.OverviewNewsData)
                                        {
                                            <div class="news-list">
                                                @if (newsList.IsCompanySoftware == 1)
                                                {
                                                    <div onclick="getSoftwareCompany('@newsList.SoftwareCompanyName.Replace(" ","-").ToLower()',@newsList.IsCompanySoftware)" class="news-logo">
                                                        <img title="@newsList.SoftwareCompanyName" class="lazy" src="" data-src="/images/CompanyLogos/@newsList.LogoName">
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div onclick="getSoftwareCompany('@newsList.SoftwareCompanyName.Replace(" ","-").ToLower()',@newsList.IsCompanySoftware)" class="news-logo">
                                                        <img title="@newsList.SoftwareCompanyName" class="lazy" src="" data-src="/images/SoftwareLogos/@newsList.LogoName">
                                                    </div>
                                                }
                                                <div class="news-info">
                                                    <div class="title"><i class="fa fa-arrow-right"></i> @newsList.NewsTitle</div>
                                                    <p>@Html.Raw(newsList.NewsDescription)</p>
                                                </div>
                                                <div class="news-action">
                                                    <div class="date">Publish Date | @newsList.CreatedDate</div>
                                                    <div class="action">
                                                        <a target="_blank" href="/news/@newsList.NewsTitleUrl.ToLower()">
                                                            <button type="button" class="btn btn-sm btn-dblue">View full post</button>
                                                            </a>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        <div class="col text-right view-more hide">
                                            <span class="btn btn-link btn-sm">View more news</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
