@model UpVotes.Models.CompanyViewModel

@{
    ViewBag.MetaTag = @Model.MetaTag;
    ViewBag.Title = Model.Title;
}

<script type="text/javascript">
    function GetCompany(companyName) {
        companyName = companyName.replace(/ /g, "-");
        var baseAddress = $.absoluteurl(window.location.origin + '/profile/' + encodeURI(companyName.toLowerCase()));
        window.open(baseAddress, '_blank')
        return false
        //window.location.assign(baseAddress)
    }

    $(document).ready(function () {
        $(".Pagenumber").click(function () {
            if (this.className.indexOf("disabled") == -1) {
                $.GetCompanyListBasedOnCriteria(this);
            }
        });
    });
</script>
<script src="~/Scripts/UserScripts/CompanyVote.js"></script>
<div class="fixed-for">

    <div class="card-heading">
        <div class="head1">Company Name</div>
        <div class="head2">Avg hourly rate</div>
        <div class="head3">Employees</div>
        <div class="head5">Locations</div>
        <div class="head4">Reviews</div>
    </div>
</div>


@foreach (var company in Model.CompanyList)
{
    <div class="main-card">

        <div class="block1" onclick="GetCompany('@company.CompanyName')">
            <p>
                <img class="lazy" data-src="/images/CompanyListLogos/@company.LogoName" />
            </p>
            <p class="company-complete-name">
                @*<span>@Html.ActionLink(company.CompanyName, "Company", "Company", new { companyID = company.CompanyID }, null) </span>*@
                <span> @company.CompanyName </span>
            </p>
        </div>
        <div class="block2">
            <p><i class="fa fa-clock-o" aria-hidden="true"></i>@company.AveragHourlyRate</p>
        </div>
        <div class="block3">
            <p><i class="fa fa-user-o" aria-hidden="true"></i>@company.TotalEmployees</p>
        </div>
        <div class="block5">
            <p><i class="fa fa-map-marker" aria-hidden="true"></i>@company.City, @company.StateName, @company.CountryName</p>
        </div>
        <div class="block4">
            <div>
                <ul class="ratings">
                    @for (int i = 0; i < company.UserRating; i++)
                    {
                        <li><span class="rate" aria-hidden="true">★</span></li>
                    }
                    @for (int i = company.UserRating; i < 5; i++)
                    {
                        <li><span class="ratedisabled" aria-hidden="true">★</span></li>
                    }
                </ul>
                
                <span><span>@company.UserRating.0/5.0 - </span><span>@company.NoOfUsersRated users</span></span>
            </div>
        </div>
        <div class="block6">
            <div class="block61">
                <div class="block612"><span onclick="GetCompany('@company.CompanyName')"><i class="fa fa-search" aria-hidden="true"></i>Explore</span></div>
                <div class="block613"><span onclick="window.open('@company.URL', '_blank')"><i class="fa fa-external-link" aria-hidden="true"></i>Website</span></div>


            </div>
            <div class="block62">
                <div>
                    <p><span href="#"><i class="fa fa-envelope-o " aria-hidden="true"></i><a href="mailto: @company.Email" target="_blank">@company.Email</a></span></p>
                    <p><span href="#"><i class="fa fa-phone-square " aria-hidden="true"></i>@company.PhoneNumber</span></p>
                </div>
            </div>
        </div>
        <div class="half-circle" compid="@company.CompanyID" calledPage="L">
            <span><i class="fa fa-arrow-circle-up" aria-hidden="true"></i></span>
            <span>@company.NoOfVotes</span>

        </div>
        <div class="ribbon"><span>@company.Ranks</span></div>
    </div>
}
<div class="paginate">

    <nav aria-label="...">
        <ul class="pagination">

            @for (int i = 0; i < Model.PageCount; i++)
            {
                if (i + 1 == 1)
                {
                    <li class="@(Model.PageIndex == 1 ? "disabled FirstPage Pagenumber" : "FirstPage Pagenumber")" page="@(i+1)" style="cursor:pointer;"><a href="#complist" aria-label="First"><span aria-hidden="true"><i class="fa fa-step-backward" aria-hidden="true"></i></span></a></li>
                    <li class="PreviousPage Pagenumber" page="@(Model.PageNumber == 1 ? 1 : Model.PageNumber-1)" style="cursor:pointer;"><a href="#complist"><span aria-hidden="true"><i class="fa fa-caret-left" aria-hidden="true"></i></span></a></li>
                }

                if (i + 1 <= 5)
                {
                    if (Model.PageCount >= 5)
                    {
                        if (i + 1 == 1)
                        {
                            <li class="@(Model.PageIndex == Model.PageNumber ? "active Pagenumber FirstPageindex" : "Pagenumber Pageindex FirstPageindex")" page="@(Model.PageIndex)" style="cursor:pointer;"><a href="#complist">@(Model.PageIndex)</a></li>
                        }
                        else if (i + 1 == 5)
                        {
                            <li class="@(Model.PageIndex == Model.PageNumber ? "active Pagenumber LastPageindex" : "Pagenumber Pageindex LastPageindex")" page="@(Model.PageIndex)" style="cursor:pointer;"><a href="#complist">@(Model.PageIndex)</a></li>
                        }
                        else
                        {
                            <li class="@(Model.PageIndex == Model.PageNumber ? "active Pagenumber" : "Pagenumber")" page="@(Model.PageIndex)" style="cursor:pointer;"><a href="#complist">@(Model.PageIndex)</a></li>
                        }
                    }
                    else
                    {
                        if (i + 1 == 1)
                        {
                            <li class="@(Model.PageIndex == Model.PageNumber ? "active Pagenumber FirstPageindex" : "Pagenumber FirstPageindex")" page="@(Model.PageIndex)" style="cursor:pointer;"><a href="#complist">@(Model.PageIndex)</a></li>
                        }
                        else if (i + 1 == Model.PageCount)
                        {
                            <li class="@(Model.PageIndex == Model.PageNumber ? "active Pagenumber LastPageindex" : "Pagenumber LastPageindex")" page="@(Model.PageIndex)" style="cursor:pointer;"><a href="#complist">@(Model.PageIndex)</a></li>
                        }
                        else
                        {
                            <li class="@(Model.PageIndex == Model.PageNumber ? "active Pagenumber" : "Pagenumber")" page="@(Model.PageIndex)" style="cursor:pointer;"><a href="#complist">@(Model.PageIndex)</a></li>
                        }
                    }
                }

                if (i + 1 == Model.PageCount)
                {
                    <li class="NextPage Pagenumber" page="@(Model.PageNumber == Model.PageCount ? Model.PageCount : Model.PageNumber + 1)" style="cursor:pointer;"><a href="#complist"><span aria-hidden="true"><i class="fa fa-caret-right" aria-hidden="true"></i></span></a></li>

                    <li class="@(Model.PageNumber == Model.PageCount ? "disabled LastPage Pagenumber" : "LastPage Pagenumber")" page="@(Model.PageCount)" style="cursor:pointer;"><a aria-label="Last" href="#complist"><span aria-hidden="true"><i class="fa fa-step-forward" aria-hidden="true"></i></span></a></li>
                }
                Model.PageIndex = Model.PageIndex + 1;
            }
        </ul>
    </nav>

</div>
