@model UpVotes.Models.CompanyViewModel

@{

    ViewBag.MetaTag = Model.MetaTag;
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/UserScripts/CompanyList.js"></script>


<h1 class="jumbotron-main">Top @Model.CategoryHeadLine @DateTime.Now.Year</h1>
<div>
    <div class="container">
        <div>
            <ul class="nav nav-tabs main-tabs-navi">
                <li><a data-toggle="tab" href="#company-profile"><i class="view-compare"></i>View & Compare</a></li>
                <li><a data-toggle="tab" href="#Custom-Quote"><i class="custom-quote"></i>Custom Quote</a></li>
                <li><a data-toggle="tab" href="#Use-Reviews"><i class="user-reviews"></i>User Reviews</a></li>
                <li><a data-toggle="tab" href="#Overview"><i class="overview"></i>Overview?</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="tab-content">
    <div id="company-profile" class="container tab-pane fade in active">
        <div class="rt-pg-menu-desc">
            <div class="rt-pg-menu-desc-lbl">
                <span>We found @Model.TotalNoOfCompanies @Model.CategoryHeadLine</span>
            </div>
            <div class="rt-pg-menu-desc-filter">
                <ul>
                    <li><a class="rt-pg-menu-filter" href="javascript:void(0)"><span class="glyphicon glyphicon-refresh"></span>Clear Filters</a></li>
                    <li><a class="rt-pg-menu-alert" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-bell"></span>Get Alerts</a></li>
                    <li><a class="rt-pg-menu-like" href="javascript:void(0)"><i class="fa fa-twitter" aria-hidden="true"></i>Share</a></li>
                    <li><a class="rt-pg-menu-share" href="javascript:void(0)"><i class="fa fa-linkedin" aria-hidden="true"></i>Share</a></li>
                </ul>
            </div>
        </div>
        <div class="sf-wrapper">
            <div class="filter-by">
                <span>Filter by:</span>
                <span class="dropdown filterdropdown">
                    <input type="text" id="txtCompanySearch" placeholder="Company Name" class="filterCompanyNameClass" />
                </span>
                <span class="dropdown filterdropdown">
                    <select class="filterHourlyRateClass" id="ddlAvgHourlyRateSearch">
                        <option value="0">Avg Hourly Rate</option>
                        <option value="0-25">< $25 </option>
                        <option value="25-50">$25 - $50</option>
                        <option value="51-100">$51 - $100</option>
                        <option value="101-150">$101 - $150</option>
                        <option value="151-200">$151 - $200</option>
                        <option value="201-300">$201 - $300</option>
                        <option value="300-0">$300+</option>
                    </select>
                </span>
                <span class="dropdown filterdropdown">
                    <select class="filterEmployeeClass" id="ddlEmployeesSearch">
                        <option value="0">Employee</option>
                        <option value="10-50">10 - 50</option>
                        <option value="51-100">51 - 100</option>
                        <option value="101-500">101 - 500</option>
                        <option value="501-1000">501 - 1000</option>
                        <option value="1001-5000">1001 - 5000</option>
                        <option value="5000-0">5000+</option>
                    </select>
                </span>
                <span class="dropdown filterdropdown">
                    <input type="text" id="txtLocationSearch" placeholder="City or State or Country" class="filterCompanyNameClass">
                </span>
            </div>
            <div class="sort-by">
                <span>Sort by:</span>
                <span>Sponsored</span>
                <span>Top voted firm</span>
                <span>Top reviews</span>
                <span>Company names</span>
            </div>
        </div>



      <div id="complist">
          @Html.Partial("~/Views/CompanyList/_CompList.cshtml",Model)
      </div>
    </div>
</div>
