<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="shortcut icon" type="image/png" href="~/images/favicon.ico" />
    <meta charset="utf-8">
    <meta name="p:domain_verify" content="40eaaa94315b4c0998044770dec18efb" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="google-site-verification" content="kQT4CmtMn5b9zi_jvJNx4RYqiKLprtr5KhhE96bglCI" />
    <meta name="msvalidate.01" content="7DCB81CFD21B6465AA275F5F761E07AD" />
    <title>@ViewBag.Title</title>
    @Html.Raw(!string.IsNullOrEmpty(@ViewBag.MetaTag) ? @ViewBag.MetaTag : "")
    @*<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/wvr-styles.css" rel="stylesheet" />*@
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    @*<script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/media.js"></script>*@
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/UserScripts/Common.min.js"></script>
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="apple-touch-icon" sizes="57x57" href="~/images/Icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/images/Icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/images/Icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/images/Icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/images/Icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/images/Icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/images/Icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/images/Icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/images/Icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/images/Icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/images/Icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/images/Icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/images/Icons/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    @*<script type="text/javascript" src="http://platform.linkedin.com/in.js">
        api_key: 81emosqfu7h5el
        authorize: true
        credentials_cookie: true
    </script>*@

    <script>
        $(document).ready(function(){
            $.absoluteurl = function (url) {
                var path = '@Request.ApplicationPath'
                if (path == '/')
                    return url;
                return path + url;
            };            
        });
        $(function () {
            $('.smooth-scroll').click(function () {
                $('html, body').animate({
                    scrollTop: $($(this).attr('href')).offset().top
                }, 1000);
                return false;
            });
        });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.4/jquery.lazy.min.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110945248-1"></script>
    <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-110945248-1');
    </script>
    <!-- Google Tag Manager -->
    @*<script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
            'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-M4N2WWC');</script>*@
    <!-- End Google Tag Manager -->
    <script>
    $(function() {
        $('.lazy').lazy();
    });
    </script>

</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    @*<noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M4N2WWC"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>*@
    <!-- End Google Tag Manager (noscript) -->
    @Html.Partial("_HeaderPartialView")

    <div class="body-content">
        @RenderBody()
    </div>

    @Html.Partial("_FooterPartialView")

</body>
</html>
