@model List<UpVotes.BusinessEntities.Entities.TeamMemebersEntity>

@{
    ViewBag.Title = "My Team Members";
}

@Scripts.Render("~/bundles/TeamMembersList")


<div class="col-xl-12 col-md-12 col-sm-12 title-wrap">
    <h2 class="title-small">Team Members</h2>
</div>

<div class="@(Model.Count > 0 ? "main-inner hide": "main-inner")">
    <div class="col-xl-12 col-md-12 col-sm-12 text-center data-wrap no-data" id="divEmptyportfolioData">
        <!--Add class "hide" to hide the content -->
        <section class="section-wrap">
            <div class="jumbotron vertical-center">
                <div class="caption">No team members found.</div>
                <button type="submit" class="btn btn-primary btnaddTeamMember">Add Team Members</button>
            </div>
        </section>
    </div>
</div>


<div class="@(Model.Count > 0 ? "col-xl-12 col-md-12 col-sm-12 text-center data-wrap table-responsive-xl data-table" : "col-xl-12 col-md-12 col-sm-12 text-center data-wrap table-responsive-xl data-table hide")" id="tableEmployeeData">
    <!--Add class "hide" to hide the content -->
    <section class="section-wrap">
        <table class="table">
            <thead>
                <tr>
                    <th>Profile Picture</th>
                    <th>Member Name</th>
                    <th>Designation</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>

                        @if (string.IsNullOrEmpty(item.LinkedInProfile))
                        {
                            <td>
                                <div>
                                    <input type="image" src="@item.PictureName" width="50" height="50" />
                                </div>
                            </td>
                            <td>
                                <div>@item.MemberName</div>
                            </td>
                        }
                        else
                        {
                            <td>
                                <a href="@item.LinkedInProfile" target="_blank">
                                    <div>
                                        <input type="image" src="@item.PictureName" width="50" height="50" />
                                    </div>
                                </a>
                            </td>
                            <td>
                                <a href="@item.LinkedInProfile" target="_blank">
                                    <div>@item.MemberName</div>
                                </a>
                            </td>
                        }
                        <td>
                            <div>@item.Designation</div>
                        </td>
                        <td>
                            <div>
                                <a class="link btnEditTeamMember" memberID="@item.MemberId">Edit</a> | <a class="link btnDeleteTeamMember" data-toggle="modal" data-target="#deleteList" href="" memberID="@item.MemberId" image="@item.PictureName" compid="@item.CompanyId" softid="@item.SoftwareId">Delete</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="col">&nbsp;</div>
        <div class="col text-center">
            <button type="button" class="btn btn-primary btn-md btnaddTeamMember">Add Team Member</button>
        </div>
    </section>
</div>

<div class="modal" id="deleteList" tabindex="-1" role="dialog" aria-labelledby="deleteList" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="close btnDeleteNo" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-header">
                <h5 class="modal-title">Are you sure you want to delete this team member?</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btnDeleteNo" data-dismiss="modal">No</button>
                <button type="button" id="btnDeleteYes" class="btn btn-primary">Yes</button>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="hdnTeamMemberId" value="0" />
<input type="hidden" id="hdnPictureUrl" value="" />