@model UpVotes.Models.SoftwareViewModel

@{
    ViewBag.Title = "My Software List";
}

@*<script src="~/Scripts/UserScripts/UserSoftwareList.js"></script>*@

@Scripts.Render("~/bundles/UserSoftwareList")

<!-- Company added list -->
<div class="col-xl-12 col-md-12 col-sm-12 title-wrap">
    <h2 class="title-small">Software Listing</h2>
</div>

@if (Model.SoftwareList.Count == 0 && !Model.IsAdmin)
{
    <div class="col text-center">
        <button type="button" id="addAdminSoftwareProfile" class="btn btn-primary btn-md">Add Software Profile</button>
    </div>
    <div class="col">&nbsp;</div>
}
else if(Model.IsAdmin)
{
    <div class="col text-center">
        <button type="button" id="addAdminSoftwareProfile" class="btn btn-primary btn-md">Add Software Profile</button>
    </div>
    <div class="col">&nbsp;</div>
}

<div class="col-xl-12 col-md-12 col-sm-12 text-center data-wrap table-responsive-xl data-table" id="softwarelist">
    <!--Add class "hide" to hide the content -->
    <section class="section-wrap">
        <table class="table">
            <thead>
                <tr>
                    <th>Software ID</th>
                    <th>Software Name</th>
                    <th>User Verified</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var software in Model.SoftwareList)
                {
                    <tr>
                        <td><input type="hidden" id="hdn_@software.SoftwareID" value="@software.SoftwareID" /><span>@software.SoftwareID</span></td>
                        <td><span><a class="link" href="/software/@software.SoftwareName.Replace(" ","-").ToLower()">@software.SoftwareName</a></span></td>
                        <td><span>@software.IsUserVerified</span></td>
                        <td><span>@(software.IsAdminApproved == "Yes" ? "Live" : "Not Approved")</span></td>
                        <td><a class="link btnEditSoftware" softwarename="@software.SoftwareName">Edit</a> | <a class="link">Delete</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </section>
</div>