@using UpVotes.BusinessEntities.Entities
<div id="divLogin">
    <style>
        .img-circle {
            border-radius: 50%;
            width: 35px;
            margin-top: -5px;
            margin-right: -20px;
        }
       
    </style>
    <script src="~/Scripts/UserScripts/Login.js"></script>
    <script>
        function closeSession() {
            //IN.User.logout();
            $.ajax({
                type: "POST",
                url: $.absoluteurl('/Login/logout'),
                success: function (json) {
                    window.location.href = $.absoluteurl(json);
                }
            });
        }

        function clearControls() {
            $('#errValidChangepwd').text('');
            $('#txtCurrPassword').val('');
            $('#txtNewPassword').val('');
            $('#txtConNewPassword').val('');
            $('#dvchangepwd').hide();
        }

        $(document).ready(function () {
            var compid = 0;
            var calledPage = '';

            $("#btnlinkedin").click(function () {
                if ('@Session["calledPage"].ToString()' == 'C') {
                    compid = $('#hdnCompanyID')[0].value;
                }
                $.LoginWithTwitterAndLinkedIn(compid, '@Session["calledPage"].ToString()', '/Login/LinkedINcall')

            });

            $("#btnLogin").click(function () {
                if ('@Session["calledPage"].ToString()' == 'C') {
                    compid = $('#hdnCompanyID')[0].value;
                }

                if ($.ValidateEmail($('#txtWorkEmailId').val()) && $.ValidateWorkEmailID($('#txtWorkEmailId').val()) && $('#txtPassword').val() != '') {
                    $('#errValidWorkEmail').hide();
                    $.LoginWithRegisteredUser(compid, $('#txtWorkEmailId').val(), $('#txtPassword').val(), '/Login/LoginRegisteredUser')
                }
                else {
                    $('#errValidWorkEmail').show();
                    $('#errValidWorkEmail1').hide();
                    $("#dvforgotpwd").hide();
                }


            });
            $("#spnForgotPwd").click(function () {
                if ($.ValidateEmail($('#txtWorkEmailId').val()) && $.ValidateWorkEmailID($('#txtWorkEmailId').val()))
                {
                    $('#errValidWorkEmail1').hide();
                    $.ForgotPassword($('#txtWorkEmailId').val());
                }
                else
                {
                    $('#errValidWorkEmail').hide();
                    $('#errValidWorkEmail1').show();
                }                
            });

            $("#btnChangePwd").click(function () {
                if ($.ValidateChangePassword())
                {
                    $.ChangePassword($('#txtCurrPassword').val(),$('#txtNewPassword').val());
                }                
            });            

            $("#btnTwitter").click(function () {
                if ('@Session["calledPage"].ToString()' == 'C') {
                    compid = $('#hdnCompanyID')[0].value;
                }
                $.LoginWithTwitterAndLinkedIn(compid, '@Session["calledPage"].ToString()', '/Login/TwitterCall')
                //$.ajax({
                //    type: "POST",   //GET or POST or PUT or DELETE verb
                //    url:$.absoluteurl('/Login/TwitterCall'),//?companyid='+compid,
                //    data: { companyid: compid },// Location of the service
                //    success: function (json) {//On Successful service call
                //        window.location.href =$.absoluteurl(json);
                //    }
                //});
            });
            
        });
    </script>



    @if (Session["UserObj"] == null)
    {
        <ul class="nav navbar-nav navbar-right sign-up">
            <li><a href="#"><span data-toggle="modal" data-target="#myModal" class="head-log-in">Log In</span></a></li>
        </ul>
        @*<ul class="nav navbar-nav navbar-right sign-up log-in">
                <li><a href="#"><span data-toggle="modal" data-target="#myModallog" class="">Sign Up</span></a></li>
            </ul>*@
    }
    else
    {
        UserEntity userObj = Session["UserObj"] as UserEntity;
        <ul class="nav navbar-nav navbar-right sign-up">
            <li>
                <a href="#">
                    @if (userObj == null)
                {<span class="fa fa-user-circle sign-use"></span>}
                else
                {
                        <img class="img-circle" src="@userObj.ProfilePictureURL.ToString()">
                    }
                </a>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" style="cursor:pointer;width: 182px;">Hi, @userObj.FirstName.ToString() &nbsp;@userObj.LastName.ToString() <span class="head-caret caret"></span></a>
                <ul class="dropdown-menu">                    
                    <li><a href="@userObj.ProfileURL" target="_blank" style="cursor:pointer;">My Profile</a></li>
                    @if (userObj.UserType == 1)
                    {
                        <li><a data-toggle="modal" onclick="clearControls()"  data-target="#myModalChangePwd" style="cursor:pointer;">Change Password</a></li>
                    }
                    <li><a onclick="closeSession()" style="cursor:pointer;">LogOut</a></li>
                </ul>
            </li>
        </ul>
        if (userObj != null && userObj.UserType == 1)
        {
        <div class="modal fade" id="myModalChangePwd" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content modaldia">

                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-6" style="text-align: left;padding: 21px;">
                                    <h1><span style="font-weight: bold;color:black;">Change Password</span></h1>
                                    <br />
                                    <br />

                                    <div class="row">
                                        <div class="col-xs-7">
                                            <input type="Password" placeholder="Current Password" class="form-control" id="txtCurrPassword">
                                            <br />
                                            <input type="Password" placeholder="New Password" class="form-control" id="txtNewPassword">
                                            <br />
                                            <input type="Password" placeholder="Confirm New Password" class="form-control" id="txtConNewPassword">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-7" style="top:12px;">
                                            <span id="errValidChangepwd" style="color: red;">                                  
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-7" id="dvchangepwd" style="top:12px;display:none;height: 21px;background-color: #dff0d8;">
                                            <span id="MsgChangePwd" style="color: #4e8f64;">
                                            </span>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <div>
                                                <div class="block612" id="btnChangePwd" style="margin-left: 71%;"><span><i aria-hidden="true"></i>Submit</span></div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-xs-2" style="text-align: right;">
                                    <h1><span style="font-weight: bold;">Welcome Back.</span></h1>
                                    <br />
                                    <p>
                                        Upvotes.co is the B2B community to help you find the top most Mobile App Development, Web Development & eCommerce Development, Digital Marketing Agencies, SEO Companies across the globe.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div id="ajax_loaderchng" style="left: 0;top: 50%;width: 100%;height:100%;top:0;padding: 0;margin: 0;background: rgba(0, 0, 0, 0.2);display:none; position: fixed;z-index:100;background-image: url('/images/loader.gif');background-repeat: no-repeat;background-position: center;">

                        </div>
                    </div>

                </div>
            </div>

        </div>
            }
        }

    @*<div class="modal fade" id="myModallog" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <h1 class="Logo-main-page-pop">upvotes</h1>

            <div class="modal-content upvote-modals">

                <div class="modal-body">

                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

            </div>
            <p class="modal-tagline">sign up for upvote</p>
            <p class="modal-subtagline">Upvote is a place where experienced founders share advice to save each other time and money</p>
            <div class="modal-buttons">*@

    @*@using (Html.BeginForm("TwitterAuth", "Login", FormMethod.Get))*@
    @*  {*@
    @*<button id="btnTwitter1" class="btn btn-info modal-buttons-twitter"><i class="fa fa-twitter" aria-hidden="true"></i>Log in with twitter</button>*@
    @*}*@
    @*@ @using (Html.BeginForm("LinkedINcall", "Login", FormMethod.Get))*@
    @*@ {*@
    @*<button id="btnlinkedin1" class="btn btn-info modal-buttons-linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i>Log in with LinkedIn</button>*@
    @*@ }*@
    @*<p>We will never post to either without your permission</p>
                    <input type="text" placeholder="User Name" class="form-control" id="usr">
                    <input type="Password" placeholder="Password" class="form-control" id="usr">
                    <button class="btn btn-info modal-buttons-twitter login-modal">Log in</button>

                </div>

            </div>
        </div>*@

    @*<div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="Logo-main-page-pop"></div>

                <div class="modal-content upvote-modals">

                    <div class="modal-body">

                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                </div>
                <p class="modal-tagline">sign up for upvote</p>
                <p class="modal-subtagline">Upvote is a place where experienced founders share advice to save each other time and money</p>
                <div class="modal-buttons">


                    <button id="btnTwitter" class="btn btn-info modal-buttons-twitter"><i class="fa fa-twitter" aria-hidden="true"></i>Log in with twitter</button>

                    <button id="btnlinkedin" class="btn btn-info modal-buttons-linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i>Log in with LinkedIn</button>

                    <p>We will never post to either without your permission</p>


                </div>

            </div>
        </div>*@
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content modaldia">

                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-6" style="text-align: left;padding: 21px;">
                                <h1><span style="font-weight: bold;color:black;">User Account</span></h1>
                                <br />
                                <div class="RowLogin">
                                    <div class="Column"><p class="LoginText">Login with</p></div>
                                    <div class="Column"><button id="btnlinkedin" class="bgimgLinkedin"></button></div>
                                    <div class="Column"><button id="btnTwitter" class="bgimgTwitter"></button></div>

                                </div>

                                <p class="LoginText">Or Don't have an account? <span class="bluelogin">Sign in with Upvotes Account</span></p>
                                <br />
                                <p class="LoginText">Login with your assigned work e-mail address.</p>
                                <div class="row">
                                    <div class="col-xs-7">
                                        <input type="text" placeholder="Work Email Id" class="form-control" id="txtWorkEmailId">
                                        <br />
                                        <input type="Password" placeholder="Password" class="form-control" id="txtPassword">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-7" style="top:12px;">
                                        <span id="errValidWorkEmail" style="color: red;display:none;">
                                            Enter valid Work Email ID & Password
                                        </span>
                                        <span id="errValidWorkEmail1" style="color: red;display:none;">
                                            Enter valid Work Email ID
                                        </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-7" id="dvforgotpwd" style="top:12px;display:none;height: 21px;background-color: #dff0d8;">
                                        <span id="errValidWorkEmail" style="color: #4e8f64;">
                                            Your new password has been emailed to you.
                                        </span>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-xs-4">
                                        <p class="LoginText"><span id="spnForgotPwd" class="bluelogin" style="cursor: pointer;">Forgot Password?</span></p>
                                    </div>
                                    <div class="col-xs-4">
                                        <button id="btnLogin" class="bgimgLogin"></button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-2" style="text-align: right;">
                                <h1><span style="font-weight: bold;">Welcome Back.</span></h1>
                                <br />
                                <p>
                                    Upvotes.co is the B2B community to help you find the top most Mobile App Development, Web Development & eCommerce Development, Digital Marketing Agencies, SEO Companies across the globe.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div id="ajax_loader" style="left: 0;top: 50%;width: 100%;height:100%;top:0;padding: 0;margin: 0;background: rgba(0, 0, 0, 0.2);display:none; position: fixed;z-index:100;background-image: url('/images/loader.gif');background-repeat: no-repeat;background-position: center;">

                    </div>
                </div>

            </div>
        </div>
        
    </div>
    
</div>
