@model List<UpVotes.BusinessEntities.Entities.TeamMemebersEntity>

<table>
    <thead>
        <tr>
            <td><div>Member</div></td>
            <td><div>Role</div></td>
            <td><div>Period</div></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var teamMember in Model)
        {
            <tr>
                <td>
                    <div><img class="lazy" data-src="@teamMember.PictureName" /><span>@teamMember.MemberName</span></div>
                </td>
                <td>
                    <div>@teamMember.Designation</div>
                </td>
                <td>
                    @if (!string.IsNullOrEmpty(teamMember.EndDate))
                    {
                        <div> @Convert.ToDateTime(teamMember.StartDate).ToString("MMM yyyy") to @Convert.ToDateTime(teamMember.EndDate).ToString("MMM-yyyy")</div>
                    }
                    else
                    {
                        <div> @Convert.ToDateTime(teamMember.StartDate).ToString("MMM yyyy") to Present </div>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
