@using System.web.Mvc
@model UpVotes.Models.CompanyViewModel

@{
    ViewBag.Title = Model.CompanyList[0].CompanyName + " - Reviews & Ratings " + @DateTime.Now.Year + " - Upvotes.co";
    ViewBag.MetaTag = "<link rel='canonical' href='"+ Request.Url.ToString() + "' />";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    @Styles.Render("~/Content/detail")
    @Scripts.Render("~/bundles/CompanyProfiles")
</head>

<div>
    @foreach (var company in Model.CompanyList)
    {
        <input type="hidden" value="@company.CompanyID" id="hdnCompanyID" />
        <input type="hidden" value="@company.CompanyName" id="hdnCompanyName" />
        <input type="hidden" value="@company.CompanyDomain" id="hdnCompanyDomain" />

        <div class="detail-wrap">
            <div class="container-fluid">
                <div class="row">
                    <!-- Main banner begins -->
                    <div class="main-banner">
                        <div class="container">
                            <div class="row">
                                <div class="col-xl-12">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="@System.Configuration.ConfigurationManager.AppSettings["WebBaseURL"].ToString()" target="_self">Home</a></li>
                                            <li class="breadcrumb-item current" aria-current="page">@company.CompanyName</li>
                                        </ol>
                                    </nav>
                                    <div class="banner-info">
                                        <div class="brand-logo">
                                            <img title="@company.CompanyName" src="~/images/CompanyLogos/@company.LogoName" />
                                        </div>
                                        <div class="brand-detail">
                                            <h1 class="name">@company.CompanyName</h1>
                                            <div class="rating-wrap">
                                                <ul class="star-rate rating-@company.UserRating">
                                                    <li><i class="fa fa-star rate"></i></li>
                                                    <li><i class="fa fa-star rate"></i></li>
                                                    <li><i class="fa fa-star rate"></i></li>
                                                    <li><i class="fa fa-star rate"></i></li>
                                                    <li><i class="fa fa-star rate"></i></li>
                                                </ul>
                                                <span class="rating-label"><span>@company.UserRating.0/5.0</span>-<span>@company.NoOfUsersRated users</span></span>
                                            </div>
                                            <div class="locality"><i class="fas fa-map-marker-alt"></i> @company.City, @company.CountryName</div>
                                            <ul class="brand-data">
                                                <li>
                                                    <a href="@(company.URL + "?utm_medium=referral&utm_source=upvotes.co")" rel="nofollow" target="_blank">
                                                        <i class="fa fa-external-link"></i>
                                                        Visit website
                                                    </a>
                                                </li>
                                                <li>
                                                    <a>
                                                        <i class="fa fa-clock-o"></i>
                                                        @company.AveragHourlyRate
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="tel:@company.PhoneNumber">
                                                        <i class="fa fa-phone-square"></i>
                                                        @company.PhoneNumber
                                                    </a>
                                                </li>
                                                <li>
                                                    <a>
                                                        <i class="fa fa-user-o"></i>
                                                        @company.TotalEmployees
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="mailto:@company.Email">
                                                        <i class="fa fa-envelope-o"></i>
                                                        @company.Email
                                                    </a>
                                                </li>
                                                <li>
                                                    <a>
                                                        <i class="fa fa-flag-o"></i>
                                                        Founded: @company.FoundedYear
                                                    </a>
                                                </li>
                                            </ul>
                                            <ul class="social-wrap">
                                                @if (company.LinkedInProfileURL != string.Empty && company.LinkedInProfileURL != null)
                                                {
                                                    <li><a target="_blank" rel="nofollow" href="@company.LinkedInProfileURL"><i class="fa fa-linkedin bg-dark-blue" aria-hidden="true"></i></a></li>
                                                }
                                                @if (company.FacebookProfileURL != string.Empty && company.FacebookProfileURL != null)
                                                {
                                                    <li><a target="_blank" rel="nofollow" href="@company.FacebookProfileURL"><i class="fa fa-facebook bg-dark-blue1" aria-hidden="true"></i></a></li>
                                                }
                                                @if (company.TwitterProfileURL != string.Empty && company.TwitterProfileURL != null)
                                                {
                                                    <li><a target="_blank" rel="nofollow" href="@company.TwitterProfileURL"><i class="fa fa-twitter bg-light-blue" aria-hidden="true"></i></a></li>
                                                }
                                                @if (company.GooglePlusProfileURL != string.Empty && company.GooglePlusProfileURL != null)
                                                {
                                                    <li><a target="_blank" rel="nofollow" href="@company.GooglePlusProfileURL"><i class="fa fa-google-plus bg-light-maroon" aria-hidden="true"></i></a></li>
                                                }

                                            </ul>
                                            <div class="btn-group banner-action align-right">
                                                <button class="btn btn-md btn-blue" id="btnVote" compid="@company.CompanyID" calledPage="L"><i class="fa fa-arrow-up"></i>@company.NoOfVotes</button>
                                                @*@Ajax.ActionLink("Submit Review", "submit-review", "submit", new { companyID = company.CompanyID, companyName= company.CompanyName }, new AjaxOptions { HttpMethod="POST"},new { @target="_blank", @class="btn btn-md btn-blue", @id="btnSubmitReview" })*@
                                                <button class="btn btn-md btn-blue" id="btnSubmitReview">Submit Review</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Main banner ends -->
                    <!-- Claim strip -->
                    @if (!company.IsClaim)
                    {
                        <div class="container claim-strip text-center">
                            <div class="row">
                                <div class="col-xl-12">
                                    <span>Do you confirm that the profile belongs to your company</span>
                                    <button id="btnClaimListing" data-toggle="modal" data-target="#ClaimModal" class="btn btn-lg btn-blue">Claim listing</button>
                                </div>
                            </div>
                        </div>
                    }
                    <!-- Claim strip -->
                    <!-- Scrollspy menu -->
                    <nav class="navbar navbar-expand-sm content-nav col-xl-12 sticky-title">
                        <div class="container">
                            <div class="row">
                                <div class="col-xl-12">
                                    <ul class="navbar-nav">
                                        <li class="nav-item active">
                                            <a class="nav-link" href="#navOverview">overview</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#navFocus">focus</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#navPortfolio">portfolio</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#navReviews">reviews</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#navTeam">team</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#navJobs">jobs</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#navNews">news</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </nav>
                    <!-- Scrollspy menu -->
                    <div class="container content-wrap">
                        <div class="row">
                            <div class="col-xl-12">
                                <section id="navOverview">
                                    <div class="content">
                                        <div class="title-wrap">
                                            <h2 class="title-small">About @company.CompanyName</h2>
                                        </div>
                                        <div class="row">
                                            <div class="col-xl-8 col-md-8">
                                                <div class="about">
                                                    @if (company.Summary != null && company.Summary != string.Empty)
                                                    {

                                                        <p>@Html.Raw(company.Summary)</p>
                                                    }

                                                    @if (company.Summary1 != null && company.Summary1 != string.Empty)
                                                    {
                                                        <p>@company.Summary1</p>
                                                    }

                                                    @if (company.Summary2 != null && company.Summary2 != string.Empty)
                                                    {
                                                        <p>@company.Summary2</p>
                                                    }

                                                    @if (company.Summary3 != null && company.Summary3 != string.Empty)
                                                    {
                                                        <p>@company.Summary3</p>
                                                    }

                                                    @if (company.KeyClients != null && company.KeyClients != string.Empty)
                                                    {
                                                        <b>Our key clients are</b>
                                                        <p>@Html.Raw(@company.KeyClients)</p>
                                                    }
                                                </div>
                                            </div>
                                            @if (company.CompanyBranches.Count > 0)
                                            {
                                                <div class="col-xl-4 col-md-4">
                                                    <address class="address-wrap">
                                                        <h3 class="title-small">Address</h3>

                                                        @foreach (var address in company.CompanyBranches)
                                                        {
                                                            <ul class="branch-wrap">
                                                                <li>@address.BranchName</li>
                                                                <li><i class="fa fa-map-marker"></i>@address.Address</li>
                                                                <li>@address.City, @address.PostalCode</li>
                                                                <li>@address.StateName, @address.CountryName</li>
                                                                <li><i class="fa fa-phone"></i>@address.PhoneNumber</li>
                                                            </ul>
                                                        }
                                                        <span class="view-more" href="#">Show Other Branches</span>
                                                    </address>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </section>
                                @Html.Partial("_CompanyFocus", Model)


                                <section id="navPortfolio">
                                    <div class="content">
                                        <div class="title-wrap">
                                            <h2 class="title-small">@company.CompanyName Portfolios</h2>
                                        </div>
                                        @if (company.CompanyPortFolio.Count > 0)
                                        {
                                            <div class="row portfolio">                                                
                                                    @Html.Partial("_CompanyPortFolio", company.CompanyPortFolio)
                                                <div class="col-lg-12">
                                                    <div class="col text-center load-more">
                                                        <button type="submit" onclick="getAllPortFolio('@company.CompanyName.Replace(" ", "-").ToLower()');" class="btn btn-sm flat-gray">
                                                            View more portfolio...
                                                        </button>
                                                    </div>
                                                </div>
                                                </div>
                                        }
                                        else
                                        {
                                            <div class="row portfolio">
                                                <div class="col-lg-12">
                                                    <h6>No Portfolios Found</h6>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </section>


                                <section id="navReviews">
                                    <div class="content">
                                        <div class="title-wrap">
                                            <h2 class="title-small">@company.CompanyName Reviews</h2>
                                        </div>
                                        @if (company.CompanyReviews.Count > 0)
                                        {
                                            <div class="row review-wrap">
                                                <div class="col-lg-12">
                                                    @Html.Partial("_CompanyReviews", company.CompanyReviews)
                                                    <div class="col text-center load-more">
                                                        <button type="submit" onclick="getAllReviews('@company.CompanyName.Replace(" ", "-").ToLower()');" class="btn btn-sm flat-gray">
                                                            View more reviews...
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="row portfolio">
                                                <div class="col-lg-12">
                                                    <h6>No Reviews Found</h6>
                                                </div>
                                            </div>
                                        }
                                    </div>

                                </section>

                                <section id="navTeam">
                                    <div class="content">
                                        <div class="title-wrap">
                                            <h2 class="title-small">@company.CompanyName Team</h2>
                                            <button class="btn btn-sm btn-add f-right hide">Add Member</button>
                                        </div>
                                        @if (1 != 1)
                                        {
                                            @Html.Partial("_CompanyMembers")
                                        }
                                        else
                                        {
                                            <div class="row portfolio">
                                                <div class="col-lg-12">
                                                    <h6>No Team Members Found</h6>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </section>

                                <section id="navJobs">
                                    <div class="content">
                                        <div class="title-wrap">
                                            <h2 class="title-small">@company.CompanyName Jobs</h2>
                                            <button class="btn btn-sm btn-add f-right hide">Add Jobs</button>
                                        </div>
                                        @if (1 != 1)
                                        {
                                            @Html.Partial("_CompanyJobs", Model)
                                        }
                                        else
                                        {
                                            <div class="row portfolio">
                                                <div class="col-lg-12">
                                                    <h6>No Jobs Added</h6>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </section>

                                <section id="navNews">
                                    <div class="content">
                                        <div class="title-wrap">
                                            <h2 class="title-small">@company.CompanyName News</h2>
                                            <button class="btn btn-sm btn-add f-right" id="btnAddNews">Add News</button>
                                        </div>
                                        @if (company.OverviewNewsData != null && company.OverviewNewsData.Count > 0)
                                        {
                                            <div class="row news-wrap">
                                                <div class="col-lg-12">
                                                    @Html.Partial("_CompanyNews", company.OverviewNewsData)
                                                    <div class="col text-center load-more">
                                                        <button type="submit" onclick="getAllNews('@company.CompanyName.Replace(" ", "-").ToLower()');" class="btn btn-sm flat-gray">
                                                            View more news...
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="row portfolio">
                                                <div class="col-lg-12">
                                                    <h6>No News Added</h6>
                                                </div>
                                            </div>
                                        }
                                    </div>

                                </section>

                            </div>
                        </div>

                    </div>


                </div>
            </div>
        </div>
        if (!company.IsClaim)
        {
            <div class="modal fade claim-modal" id="ClaimModal" tabindex="-1" role="dialog" aria-labelledby="ClaimModal" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-md" role="document">
                    <div class="modal-content">
                        <!-- Card Loader -->
                        <div id="ajax_loaderClaim" class="card-loader"></div><!-- If add "show" class loader will appear -->
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <div class="bg-banner"></div>
                        <div class="modal-body">
                            <div class="form-wrap">
                                <h4 class="title-small">Claim Listing</h4>
                                <div class="cliam-wrap">
                                    <label>Login with your assigned work e-mail address.</label>
                                    <div class="form-group input-medium">
                                        <input type="text" class="form-control input-txt" id="txtClaimListing" aria-describedby="emailHelp" placeholder="Enter work email without domain">
                                        <span>@company.CompanyDomain</span>
                                    </div>
                                    <div><span id="spnerrordomain" class="error-text"></span></div>
                                    <div class="action float-left">
                                        <button id="btnclaimSubmit" type="submit" class="btn btn-lg btn-blue btn-login float-right">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }

</div>

<div class="scroll-top"><i class="fa fa-chevron-circle-up"></i></div>
