@Model

    @foreach (var companyReview in company.CompanyReviews)
    {
        <div class="user-reviews-card">
            <div class="fonder-profile">
                <img src="@companyReview.UserProfilePicture">
                <p class="founder-name">@companyReview.ReviewerFullName</p>
                <p><span>@companyReview.ReviewerDesignation</span><span>@companyReview.ReviewerCompanyName</span></p>
                <div>
                    <ul class="ratings">
                        @for (int i = 0; i < companyReview.Rating; i++)
                        {
                            <li><span class="rate" aria-hidden="true">★</span></li>
                        }
                        @for (int i = companyReview.Rating; i < 5; i++)
                        {
                            <li><span class="ratedisabled" aria-hidden="true">★</span></li>
                        }
                    </ul>
                </div>
            </div>

            <div class="tech-used">
                <p><span>Project Name:</span><span>@companyReview.ReviewerProjectName</span></p>
                <p><span>Service category:</span><span>@companyReview.FocusAreaName</span></p>
            </div>

            <div class="tech-review">
                <p>
                    <span class="more">
                        @companyReview.FeedBack
                    </span>
                </p>
            </div>
            <div class="review-major-btns">
                <div class="input-group thankbutton">
                    <button class="form-control" aria-label="Text input with segmented button dropdown" id="btnThankNote" CompanyReviewID=@companyReview.CompanyReviewID.ToString()><i class="fa fa-thumbs-up" aria-hidden="true"></i>Thank</button>
                    <div class="input-group-btn">
                        <span type="button" class="btn btn-default thankyou-adjust" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@companyReview.NoOfThankNotes</span>
                    </div>
                </div>
            </div>
        </div>
    }
