@model List<UpVotes.BusinessEntities.Entities.CompanyEntity>
@{
    string meta = "<meta name='description' content='Finds World&apos;s Top IT Companies & Software Products on Upvotes. This most trusted B2B research community hands collection of Votes, Reviews, Ratings & Rankings, Company...' />";
    meta = meta + "<meta property='og:url' content='https://www.upvotes.co/' />";
    meta = meta + "<meta property='og:type' content='website' />";
    meta = meta + "<meta property='og:title' content='Find the Perfect IT Partners & Software Products for your Next Project' />";
    meta = meta + "<meta property='og:description' content='Finds World&apos;s Top IT Companies & Software Products on Upvotes. This most trusted B2B research community hands collection of Votes, Reviews, Ratings & Rankings, Company...' />";
    meta = meta + "<meta property='og:image' content='' />";
    meta = meta + "<meta name='twitter:card' content='summary_large_image' />";
    meta = meta + "<meta name='twitter:site' content='@upvotes_co'>";
    meta = meta + "<meta name='twitter:creator' content='@upvotes_co'>";
    meta = meta + "<meta name='twitter:description' content='Finds World&apos;s Top IT Companies & Software Products on Upvotes. This most trusted B2B research community hands collection of Votes, Reviews, Ratings & Rankings, Company...' />";
    meta = meta + "<meta name='twitter:title' content='Find the Perfect IT Partners & Software Products for your Next Project' />";
    meta = meta + "<meta name='twitter:image' content='' />";
    meta = meta + "<link rel='canonical' href='https://www.upvotes.co/' />";
    meta = meta + "<link rel='publisher' href='#' />";
    ViewBag.MetaTag = meta;
    ViewBag.Title = "Find the Perfect IT Partners & Software Products for your Next Project";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/Homecss")
@Scripts.Render("~/bundles/homejs")

<!-- start banner Area -->
<section class="banner-area gap-medium">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-xl-4 col-lg-12 no-padding">
                <div class="banner-content">
                    <h1 class="title-xlarge">Your Identity. Our Responsibility</h1>
                    <p>
                        Upvotes is your community to finding the best B2B agencies, categorized by their areas of expertise. Find top full-service agencies, web design companies, digital marketing firms & top technology companies.
                    </p>
                    <button type="button" class="btn btn-primary smooth-scroll" href="#divCategory">Find Firms</button>
                </div>
            </div>
            <div class="col-xl-8 col-lg-12 no-padding banner-image">
                <img class="lazy" data-src="images/top-banner.jpg" alt="Upvotes" title="Upvotes">
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->	

<!-- Start How Upvotes works -->
<section class="feature gap-medium">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-12 order-lg-1 order-2">
                <div class="feature-list">
                    <ul>
                        <li>
                            <i class="fa fa-sitemap"></i>
                            <div class="title">Select Category</div>
                            <p>Select a service or software providers</p>
                        </li>
                        <li class="active">
                            <i class="fa fa-globe"></i>
                            <div class="title">Explore in Detail</div>
                            <p>Browse the list of 500+ top service & software providers</p>
                        </li>
                        <li class="active">
                            <i class="fa fa-check"></i>
                            <div class="title">Select Right Partner</div>
                            <p>Make list out one or more partner for your project</p>
                        </li>
                        <li>
                            <i class="fa fa-check-square-o"></i>
                            <div class="title">Votes & Reviews</div>
                            <p>Check out verified votes and reviews</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-6 col-lg-12 order-lg-2 order-1">
                <div class="content gap-large">
                    <h4 class="title-large">How upvotes can help your business?</h4>
                    <p>
                        Searching an appropriate firms with positive feedbacks is vital for the victory of your selecting a tech partner. We help you right here.
                    </p>
                    <button type="button" class="btn btn-primary">Know more</button>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End How Upvotes works -->	

<!-- Start Category -->
<section id="divCategory" class="category gap-medium">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="title-wrap text-center">
                    <h3 class="title-medium t-border">Research Categories</h3>
                    <p>
                        Explore top services and software providers across industries to find the right partner for your business.
                    </p>
                </div>
            </div>
            <div class="col-xl-12 tab-wrap">
                <nav>
                    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" data-toggle="tab" href="#tab1">For Service Providers</a>
                        <a class="nav-item nav-link" data-toggle="tab" href="#tab2">For Software Providers</a>
                    </div>
                </nav>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="tab1">
                        <ul class="list">
                            <li><a href="/mobile-application-developers">Mobile App Developement </a></li>
                            <li><a href="/web-development-companies">Web Developers</a></li>
                            <li><a href="/web-design-companies">Web Designers </a></li>
                            <li><a href="/digital-marketing-companies">Digital Marketing</a></li>
                            <li><a href="/seo-companies">SEO </a></li>
                            <li><a href="/software-development-companies">Software Developers</a></li>
                            <li><a href="/ui-ux-agencies">UI/UX Designers</a></li>
                            <li><a href="/wearable-application-developers">Wearable App Developers</a></li>
                            <li><a href="/ecommerce-developers">Ecommerce Developers</a></li>
                            <li><a href="/social-media-marketing-companies">Social Media Agencies</a></li>
                            <li><a href="/ppc-companies">PPC Agencies</a></li>
                            <li><a href="/content-marketing-companies">Content Marketing Agencies</a></li>
                            <li><a href="/iot-application-developers">IOT App Developers</a></li>
                            <li><a href="/mobile-app-marketing-agencies">Mobile App Marketing Agencies</a></li>
                            <li><a href="/email-marketing-agencies">Email Marketing Agencies</a></li>
                            <li><a href="/sem-agencies">Sem Agencies</a></li>
                            <li><a href="/branding-agencies">Branding Agencies</a></li>
                            <li><a href="/pr-agencies">PR Agencies</a></li>
                            <li><a href="/digital-strategy-agencies">Digital Strategy Agencies</a></li>
                            <li><a href="/video-production-agencies">Video Production Agencies</a></li>
                            <li><a href="/chatbot-development">Chatbot Development</a></li>
                            <li><a href="/ar-vr-application-development">AR VR Application Developers</a></li>
                            <li><a href="/graphic-designers">Graphic Designers</a></li>
                            <li><a href="/human-resources-companies">Human Resources</a></li>
                            <li><a href="/blockchain-developers">Blockchain Developers</a></li>
                            <li><a href="/software-testing-companies">Application Testing</a></li>
                            <li><a href="/logo-design-agencies">Logo Design Agencies</a></li>
                            <li><a href="/print-design-agencies">Print Design Agencies</a></li>
                            <li><a href="/product-design-agencies">Product Design Agencies</a></li>
                            <li><a href="/packaging-design-agencies">Packaging Design Agencies</a></li>
                            <li><a href="/affiliate-marketing-agencies">Affiliate Marketing Agencies</a></li>
                            <li><a href="/artificial-intelligence-companies">Artificial Intelligence</a></li>
                            <li><a href="/cloud-consulting-companies">Cloud Consultants</a></li>
                        </ul>
                        <div class="col text-center">
                            <button type="button" onclick="BrowseAllCategory('service');" class="btn btn-primary btn-lg">Browse All Categories</button>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab2">
                        <ul class="list">
                            <li><a href="/mobile-app-softwares">Mobile App Softwares</a></li>
                            <li><a href="/marketing-softwares">Marketing Softwares</a></li>
                            <li><a href="/seo-softwares">SEO Softwares</a></li>
                            <li><a href="/social-media-softwares">Social Media Softwares</a></li>
                            <li><a href="/content-marketing-softwares">Content Marketing Softwares</a></li>
                            <li><a href="/app-design-softwares">App Design Softwares</a></li>
                            <li><a href="/cms-softwares">CMS Softwares</a></li>
                            <li><a href="/ecommerce-softwares">Ecommerce Software</a></li>
                            <li><a href="/email-marketing-softwares">Email Marketing Softwares</a></li>
                            <li><a href="/game-development-softwares">Game Development Softwares </a></li>
                            <li><a href="/graphic-design-softwares">Graphic Design Softwares</a></li>
                            <li><a href="/iot-softwares">Iot Softwares</a></li>
                            <li><a href="/artificial-intelligence-softwares">Artificial Intelligence Softwares</a></li>
                            <li><a href="/data-visualization-softwares">Data Visualization Softwares</a></li>
                            <li><a href="/inventory-management-softwares">Inventory Management Softwares</a></li>
                            <li><a href="/accounting-softwares">Accounting Softwares</a></li>
                            <li><a href="/workflow-management-softwares">Workflow Management Softwares</a></li>
                            <li><a href="/crm-softwares">CRM Softwares</a></li>
                            <li><a href="/business-intelligence-softwares">Business Intelligence Softwares </a></li>
                            <li><a href="/erp-softwares">ERP Softwares</a></li>
                            <li><a href="/human-resource-softwares">Human Resource Softwares</a></li>
                            <li><a href="/machine-learning-softwares">Machine Learning Softwares</a></li>
                            <li><a href="/product-management-softwares">Product Management Softwares</a></li>
                            <li></li>
                        </ul>
                        <div class="col text-center">
                            <button type="button" onclick="BrowseAllCategory('software');" class="btn btn-primary btn-lg">Browse All Categories</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Category -->	

<!-- Start Featured agencies -->
<section class="brand-grid gap-medium">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="title-wrap text-center">
                    <h3 class="title-medium t-border">Top Voted Agencies</h3>
                </div>
            </div>
            <div class="col-lg-12">
                <ul>
                    @foreach (var item in Model)
                    {
                        <li onclick="GetTopVotedCompanyProfile('@item.CompanyName')"><img class="lazy topVotedimg" data-src="/images/CompanyLogos/@item.LogoName" alt="@item.CompanyName" title="@item.CompanyName"></li>                    
                    }
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- End Featured agencies -->

			<!-- Start Get Listed -->
<section class="teal-banner gap-large">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 text-center">
                <div class="title-wrap text-center">
                    <h3 class="title-medium">Are you a Leading professional B2B Service or Software providers?</h3>
                    <p>Join this community and get more visible to your Business profile</p>
                </div>
            </div>
            <div class="col-xl-12 text-center">
                <a href="/get-listed" target="_blank"><button type="button" class="btn btn-light btn-lg">Get Listed</button></a>
            </div>
        </div>
    </div>
</section>
<!-- End Get Listed -->

			<!-- Start blog Area -->
<section class="blogs gap-medium">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 text-center">
                <div class="title-wrap text-center">
                    <div class="caption">We blog something</div>
                    <h3 class="title-medium">Have a Look of Our Latest Blog.</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="owl-carousel card-slide home-slide">
                    <a class="blogAnchor" href="/blog/how-much-cost-make-app" target="_blank">
                        <div class="thumb">
                            <div class="img-wrap">
                                <img class="lazy" data-src="images/Blogs/thumb1.jpg" />
                            </div>
                            <div class="content">
                                <div class="title">How Much Does it Cost to Make an App in 2020 - Mobile App Cost Calculator</div>
                                <p>
                                    Mobile has become the new normal for staying connected
                                    <span class="more"> Read more</span>
                                </p>
                            </div>
                        </div>
                    </a>
                    <a class="blogAnchor" href="/blog/app-store-optimization" target="_blank">
                        <div class="thumb">
                            <div class="img-wrap">
                                <img class="lazy" data-src="images/Blogs/thumb2.jpg" />
                            </div>
                            <div class="content">
                                <div class="title">App store optimization</div>
                                <p>
                                    Back in 2009, when Apple launched the App Store, there were less than a thousand apps in the store. It was the same for Google, it 
                                    <span class="more"> Read more</span>
                                </p>
                            </div>
                        </div>
                    </a>
                    <a class="blogAnchor" href="/blog/email-marketing-for-financial-advisors" target="_blank">
                        <div class="thumb">
                            <div class="img-wrap">
                                <img class="lazy" data-src="images/Blogs/thumb3.jpg" />
                            </div>
                            <div class="content">
                                <div class="title">Email Marketing for Financial Advisors: Best Practices for 2019</div>
                                <p>
                                    Email may not have the cutting edge
                                    <span class="more"> Read more</span>
                                </p>
                            </div>
                        </div>
                      </a>
</div>
            </div>
        </div>
    </div>
</section>
<!-- End blog Area -->



@*<div class="mark-home-banner lazy" data-src="images/Untitled-12.jpg">
    <h2>Explore Top Agencies and Choose The Most Suitable Partner for Next Big project</h2>
    <div>
        <span>Which type of companies are you looking for ?</span>
        <a class="smooth-scroll" href="#divCategory">select firms<i class="fa fa-arrow-right" aria-hidden="true"></i></a>
    </div>
</div>
<div class="mark-who-are-we lazy" data-src="images/Untitled-4.jpg">
    <div class="container">
        <h2><span>who</span> we are ?</h2>
        <p class="head1p">At Upvotes.co our aim is to help you choose the perfect technology partner for your business.</p>
        <p class="head2p">Upvotes.co is the B2B community to help you find the top most Mobile App Development, Web Development, Software Development & eCommerce Development, Digital Marketing Agencies, SEO Companies across the globe.  Meet the crème da la crème of the industry and give your project the right start with the right partner.</p>
        <div class="supscript">
            <p>700+</p>
            <p>Real Voters</p>
        </div>
        <div>
            <p>200+</p>
            <p>Verified Companies</p>
        </div>
    </div>

</div>
<div class="rearch-category" id="divCategory">
    <div>
        <p class="head1p">Research Category</p>
        <p class="head2p"></p>
        <div class="reserch-categoy-tiles">
            <div class="r-tile">
                <div> <img src="" class="lazy" data-src="images/Untitled-6.png"></div>
                <p><a href="/mobile-application-developers">Mobile App Development</a></p>
                <p>Searching for the best Mobile App Development for your business? Start choosing from the very best in the industry that deliver end-end app development services.</p>
            </div>
            <div class="r-tile">
                <div><img src="" class="lazy" data-src="images/Untitled-7.png"></div>
                <p><a href="/digital-marketing-companies">Digital Marketing</a></p>
                <p>Searching for a brilliant digital marketing agency to take your digital marketing strategy to the next level? Choose from the list of the best-in-class agencies with shower of votes and awesome reviews from clients.</p>
            </div>
            <div class="r-tile">
                <div><img src="" class="lazy" data-src="images/Untitled-8.png"></div>
                <p><a href="/web-design-companies">Web Design</a></p>
                <p>Searching for the most creative Web design Agency to build a world class website for you? Choose from the most proficient ones with remarkable votes and reviews and who can deliver full cycle of web designs.</p>
            </div>
            <div class="r-tile">
                <div><img src="" class="lazy" data-src="images/Untitled-9.png"></div>
                <p><a href="/web-development-companies">Web Developement</a></p>
                <p>Searching for the most tech-savvy web development partner to develop your website? Start choosing from the list of the top in the game players in the industry with rave reviews and votes from clients.</p>
            </div>
            <div class="r-tile">
                <div><img src="" class="lazy" data-src="images/Untitled-11.png"></div>
                <p><a href="/seo-companies">Search Engine Optimization</a></p>
                <p>Searching for a strategy oriented best-in-class SEO partner to stay at the top of the search engine game? Choose from the finest ones who deliver full pack of SEO solutions and have gained the trust of prestigious clients who have given them wonderful reviews and votes for the awesome work.</p>
            </div>
            <div class="r-tile">
                <div><img src="" class="lazy" data-src="images/Untitled-13.png"></div>
                <p><a href="/software-development-companies">Software Developement</a></p>
                <p>Searching for the perfect software development partner for your business? Start choosing from the list of the best-in-class software developers that deliver end to end custom software development services.</p>
            </div>
            <span class="chord"></span>
        </div>
    </div>
</div>
<div class="world-map lazy" data-src="images/Untitled-1.jpg">
    <div class="world-legal">
        <h3>are you a leading service provider</h3>
        <span>we work hard, we play hard, we show the results.</span>
    </div>
    <div class="world-tiles">
        <div class="w-tiles myLoginPopUp">
            <img class="lazy" src="" data-src="images/Untitled-15.png">
            <a class="w1-tile">Get Listed</a>
        </div>
        <div class="w-tiles">
            <img class="lazy" src="" data-src="images/Untitled-16.png">
            <span class="w2-tile">upvote</span>
        </div>
        <div class="w-tiles">
            <img class="lazy" src="" data-src="images/Untitled-17.png">
            <span class="w3-tile">submit your review</span>
            <input type="button" id="btnSubmitReview" class="create-submit submitbut" value="submit now" style="display:none;" />
        </div>
    </div>
</div>*@

@*<div id="dialog" style="display:none">
    @Html.Partial("~/Views/Company/_SubmitReview.cshtml")
</div>*@

<script type="text/javascript">
     			// Carousel Auto-Cycle
				  $(document).ready(function() {
				    $('.owl-carousel').owlCarousel({
					    loop:true,
					    margin:10,
					    responsiveClass:true,
					    navText:["<i class='fa fa-chevron-left'></i> Prev","Next <i class='fa fa-chevron-right'></i>"],
					    mouseDrag:true,
					    responsive:{
					        320:{
					            items:1,
					            dots:true
					        },
					        480:{
					            items:2,
					            dots:true
					        },
					        700:{
					            items:2
					        },
					        800:{
					            items:3,
					            nav:false
					        },
					        1000:{
					            items:4,
					            nav:true,
					            loop:false
					        }
					    }
					})
				  });
</script>