@model UpVotes.Models.QuotationResponse

@Scripts.Render("~/bundles/Quotation")

<div class="custom-quote text-center">
    <div class="step step12 final">
        <div class="title">
            <i class="fa fa-check" aria-hidden="true"></i>
            Thanks for your interest!
        </div>
        <div class="sub-title">We will send detailed estimation report to your mail</div>
        <div class="btn-group">
            <button type="button" class="btn btn-blue btn-md" id="btnShowReport">Show Report</button>
        </div>
    </div>
    <div class="step step11 estimate hide">
        <div class="title">Here's your Cost Estimation in Different Geographies! with Based on Current Industry</div>
        <div class="total">
            Your app estimation
            <div id="spnTotalAmountZone1" style="display:block;" class="cost clsTotalZone1">$@Convert.ToInt32(Model.TotalMinZone1).ToString("#,##0") - $@Convert.ToInt32(Model.TotalMaxZone1).ToString("#,##0")</div>
            <div id="spnTotalAmountZone2" style="display:none;" class="cost clsTotalZone2">$@Convert.ToInt32(Model.TotalMinZone2).ToString("#,##0") - $@Convert.ToInt32(Model.TotalMaxZone2).ToString("#,##0")</div>
            <div id="spnTotalAmountZone3" style="display:none;" class="cost clsTotalZone3">$@Convert.ToInt32(Model.TotalMinZone3).ToString("#,##0") - $@Convert.ToInt32(Model.TotalMaxZone3).ToString("#,##0")</div>
            <div class="btn-group">
                <button type="button" class="btn btn-blue btn-md" id="btnShowBreakdown">Show Breakdown</button>
            </div>
            <div class="btn-group">
                &nbsp;&nbsp;
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-blue btn-md" id="liClose" public=@(ViewBag.isPublicQuote ? "public" : "tab")>New Quote</button>
            </div>
        </div>
        <div id="divbreakdown" class="slideDown" style="display:none">
        <div class="zone-wrap">
            <div class="item">
                <strong>Zone-1</strong>
                <span>(USA, Canada, Western Europe & Australia)</span>
                <div class="btn-group">
                    <button type="button" id="btnEstimateZ1" class="btn btn-blue-line btn-sm">Estimate</button>
                </div>
            </div>
            <div class="item">
                <strong>Zone-2</strong>
                <span>(Eastern Europe, Middle East, Central & South America)</span>
                <div class="btn-group">
                    <button type="button" id="btnEstimateZ2" class="btn btn-blue-line btn-sm">Estimate</button>
                </div>
            </div>
            <div class="item">
                <strong>Zone-3</strong>
                <span>(South Asia, East Asia, South East Asia & Africa)</span>
                <div class="btn-group">
                    <button type="button" id="btnEstimateZ3" class="btn btn-blue-line btn-sm">Estimate</button>
                </div>
            </div>
        </div>
        <div class="final-list">
            <ul>
                @if (Model != null)
                {
                    string platformclassname = "";
                    foreach (var quotation in Model.QuotationData)
                    {
                        if (quotation.SubCategory != "Features")
                        {
                            <li>
                                <div class="symbol"><i class="@quotation.Classname" aria-hidden="true"></i></div>
                                @if (platformclassname == "")
                                {
                                    platformclassname = quotation.Classname;
                                }
                                <div class="category">
                                    <span>
                                        @quotation.Question
                                        <small>@quotation.Answer</small>
                                    </span>
                                </div>
                                <div style="display:inline-block" class="price clsZone1">Cost: $@Convert.ToInt32(quotation.MinPriceZone1).ToString("#,##0") - $@Convert.ToInt32(quotation.MaxPriceZone1).ToString("#,##0")</div>
                                <div style="display:none" class="price clsZone2">Cost: $@Convert.ToInt32(quotation.MinPriceZone2).ToString("#,##0") - $@Convert.ToInt32(quotation.MaxPriceZone2).ToString("#,##0")</div>
                                <div style="display:none" class="price clsZone3">Cost: $@Convert.ToInt32(quotation.MinPriceZone3).ToString("#,##0") - $@Convert.ToInt32(quotation.MaxPriceZone3).ToString("#,##0")</div>
                            </li>
                        }
                    }
                    <li>
                        <div class="symbol"><i class="@platformclassname" aria-hidden="true"></i></div>
                        <div class="category">
                            <span>Check all the feature you want on your app?</span>
                            <div class="feature">
                                @foreach (var quotation in Model.QuotationData)
                                {
                                    if (quotation.SubCategory == "Features")
                                    {
                                        <div class="clsFeatureZone1"><span class="label">@quotation.Ctypes</span><span>Cost:  $@Convert.ToInt32(quotation.MinPriceZone1).ToString("#,##0") - $@Convert.ToInt32(quotation.MaxPriceZone1).ToString("#,##0")</span></div>
                                        <div style="display:none;" class="clsFeatureZone2"><span class="label">@quotation.Ctypes</span><span>Cost:  $@Convert.ToInt32(quotation.MinPriceZone2).ToString("#,##0") - $@Convert.ToInt32(quotation.MaxPriceZone2).ToString("#,##0")</span></div>
                                        <div style="display:none;" class="clsFeatureZone3"><span class="label">@quotation.Ctypes</span><span>Cost:  $@Convert.ToInt32(quotation.MinPriceZone3).ToString("#,##0") - $@Convert.ToInt32(quotation.MaxPriceZone3).ToString("#,##0")</span></div>
                                    }
                                }
                            </div>
                        </div>
                        <div class="price"></div>
                    </li>
                }
                </ul>
            </div>
            </div>
        </div>
    </div>